french-version/main.aux
french-version/main.log
french-version/main.out
french-version/main.pdf
french-version/main.synctex.gz
spanish-version/main.aux
spanish-version/main.log
spanish-version/main.out
spanish-version/main.pdf
spanish-version/main.synctex.gz
english-version/main.aux
english-version/main.log
english-version/main.out
english-version/main.pdf
english-version/main.synctex.gz
